{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": true
}
